<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="product.css" />
    <title>Coffee Bean</title>
  </head>
  <body>
    <%- include("./header.ejs") %>
    <main>
      <header class="header-product">
        <h3><%= header %></h3>
      </header>

      <ul class="product-list">
        <% productList.forEach((item) => { %>
        <li class="item">
          <a href="/blend/<%= item.id%>">
            <div class="item_img">
              <img src="<%= item.img%>" />
            </div>
            <div class="item_info">
              <p class="name"><%= item.name%></p>
              <p class="price">
                ₩<%= item.price_250g %> - ₩<%= item.price_1kg %>
              </p>
            </div>
          </a>
        </li>
        <% });%>
      </ul>
    </main>
    <%- include("./footer.ejs") %>
  </body>
</html>
