<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../header.css" />
    <link rel="stylesheet" type="text/css" href="../product_detail.css" />
    <title>Coffee Bean</title>
  </head>
  <body>
    <%- include("./header.ejs") %>

    <main class="item-info">
      <div>
        <img src="<%=product.img%>" />
      </div>

      <form class="addToCart" method="post">
        <span class="item-menu"><%= header %></span>
        <h1><%= product.name %></h1>
        <p><%= product.info %></p>
        <ul class="options">
          <li>
            <button
              type="button"
              class="option_1"
              value="<%= product.price_250g %>"
            >
              250g
            </button>
          </li>
          <li>
            <button
              type="button"
              class="option_2"
              value="<%=product.price_500g %>"
            >
              500g
            </button>
          </li>
          <li>
            <button
              type="button"
              class="option_3"
              value="<%= product.price_1kg %>"
            >
              1kg
            </button>
          </li>
        </ul>

        <!-- <div class="form-price">
          <label for="price">가격: </label>
          <input type="text" name="price" id="price" value="" disabled />원
          <br />
        </div> -->

        <div class="form-quantity">
          <div class="quantity">
            <button>
              <i class="fa-solid fa-minus"></i>
            </button>
            <span class="quantity-input">0</span>
            <button>
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>

        <div class="result">
          <input type="text" name="product_name" value="<%= product.name %>" />
          <input
            type="text"
            name="product_option"
            id="product_option"
            value=""
          />
          <input
            type="text"
            name="product_quantity"
            id="product_quantity"
            value=""
          />
          <input type="text" name="product_price" id="product_price" value="" />
        </div>
        <button class="cartBtn" type="submit">장바구니</button>
        <!-- <input class="cartBtn" type="submit" value="장바구니" /> -->
      </form>
    </main>
    <%- include("./footer.ejs") %>

    <script>
      const price = document.querySelector("#price");
      const option_1 = document.querySelector(".option_1");
      const option_2 = document.querySelector(".option_2");
      const option_3 = document.querySelector(".option_3");
      const cartBtn = document.querySelector(".cartBtn");

      const quantityInput = document.querySelector(".quantity-input");
      const minusBtn = document.querySelector(".fa-minus");
      const plusBtn = document.querySelector(".fa-plus");

      const product_option = document.querySelector("#product_option");
      const product_quantity = document.querySelector("#product_quantity");
      const product_price = document.querySelector("#product_price");

      let selected_price = 0;

      option_1.addEventListener("click", () => {
        product_option.value = "250g";
        product_price.value = parseInt(option_1.value);
        quantityInput.innerHTML = 1;
        product_quantity.value = 1;
        selected_price = parseInt(option_1.value);
        cartBtn.innerHTML = `장바구니 - ${option_1.value}원`;
      });

      option_2.addEventListener("click", () => {
        product_option.value = "500g";
        product_price.value = parseInt(option_2.value);
        quantityInput.innerHTML = 1;
        product_quantity.value = 1;
        selected_price = parseInt(option_2.value);
        cartBtn.innerHTML = `장바구니 - ${option_2.value}원`;
      });

      option_3.addEventListener("click", () => {
        product_option.value = "1kg";
        product_price.value = parseInt(option_3.value);
        quantityInput.innerHTML = 1;
        product_quantity.value = 1;
        selected_price = parseInt(option_3.value);
        cartBtn.innerHTML = `장바구니 - ${option_3.value}원`;
      });

      minusBtn.addEventListener("click", () => {
        if (selected_price === 0) {
          alert("그램 수를 선택해 주세요");
          return;
        }

        let newQuantity = parseInt(quantityInput.innerHTML);
        if (newQuantity === 0) {
          cartBtn.innerHTML = `장바구니 - 0원`;
          return;
        } else {
          quantityInput.innerHTML = --newQuantity;
          cartBtn.innerHTML = `장바구니 - ${selected_price * newQuantity}원`;
          product_quantity.value = newQuantity;
        }
      });

      plusBtn.addEventListener("click", () => {
        if (selected_price === 0) {
          alert("그램 수를 선택해 주세요");
          return;
        }
        let newQuantity = parseInt(quantityInput.innerHTML);
        quantityInput.innerHTML = ++newQuantity;
        cartBtn.innerHTML = `장바구니 - ${selected_price * newQuantity}원`;
        product_quantity.value = newQuantity;
      });

      cartBtn.addEventListener("click", () => {
        //로그인이 안되어 있다면 로그인 하라고 하기
        if (selected_price === 0) {
          alert("옵션을 선택해주세요");
        }
      });
    </script>
  </body>
</html>
