<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../header.css" />
    <title>CoffeeBean</title>
  </head>
  <body>
    <%- include("./header.ejs") %>
    <h1>리뷰작성</h1>
    <section>
      <form method="post" action="/review">
        <div>
          <label for="">상품명</label>
          <input type="text" value="<%- product_name%>" disabled />
        </div>
        <div>
          <label for="content">상품이 어떠셨나요?</label>
          <textarea id="content" name="review_content" required> </textarea>
        </div>
        <div>
          <label for="writer">작성자</label>
          <input
            type="text"
            id="writer"
            name="review_wirter"
            value="<%= writer %>"
            disabled
          />
        </div>
        <div>
          <label for="date">작성일</label>
          <input
            type="text"
            class="date"
            name="review_date"
            value=""
            disabled
          />
        </div>
        <input type="submit" value="등록하기" />

        <div class="result">
          <input type="number" name="product_id" value="<%- product_id%>" />
          <input type="text" name="review_name" value="<%- product_name%>" />
          <input type="text" name="review_wirter" value="<%= writer %>" />
          <input type="text" class="review_date" name="review_date" value="" />
        </div>
      </form>
    </section>

    <script>
      const date = document.querySelector(".date");
      const review_date = document.querySelector(".review_date");

      function getDate() {
        const today = new Date();
        const year = today.getFullYear();
        const month = (today.getMonth() + 1).toString().padStart(2, "0");
        const day = today.getDate().toString().padStart(2, "0");
        const dateString = year + "-" + month + "-" + day;
        date.value = dateString;
        review_date.value = dateString;
      }
      getDate();
    </script>
  </body>
</html>
